/* Global Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid magenta; */
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/chalkboard.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 8vh;
}

header {
  width: 100%;
  text-align: center;
  color: white;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero h1 {
  font-family: "Rock Salt", cursive;
  font-size: 3em;
  width: 80%;
}

main {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 30px;
  align-items: baseline;
}

main img {
  width: 6em;
  height: auto;
  display: block;
  filter: invert(1);
}

.container {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 20px;
  /* gap: 20px; */
}

.container h2 {
  font-family: "Pangolin", cursive;
  font-size: 2rem;
  margin: 10px 0;
}

.container p {
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  margin: 10px 0;
}

.container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pangolin", cursive;
  font-size: 1rem;
  background-color: tomato;
  color: white;
  width: 80%;
  height: 50px;
  margin: 10px 0 ;
  text-decoration: none;
  border-radius: 50em;
}


footer {
  text-align: center;
  color:white;
  margin: 0;
  padding: 5px;
}

footer a{
  color: white;
}

footer a:hover {
  color: gold;
  transition: 0.3s ease;
}

/* Responsive Menu */
@media (max-width: 600px) {
  .navbar {
    height: auto;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .burger-toggle {
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0.9);
  }

  .burger-toggle.active+.menu {
    display: flex;
  }

  .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .menu.active {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .menu li {
    margin: 10px 0;
    padding: 5px 0;
  }

  main {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .container {
    width: auto;
  }

  .container button {
    width: 100%;
  }
}