:root {
  --chalk-white: #fffae3;
  --chalk-gray: #2d2d2d;
}

.submission-table {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  padding: 12px;
  margin: 8px;
  font-family: "Pangolin", cursive;
  font-weight: bold;
  font-size: 1.1rem;
}

.filter-items {
  padding: 12px;
  margin: 12px;
  width: 30%;
  flex-grow: 1;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

label {
  font-family: "Pangolin", cursive;
  font-size: 1.2rem;
}

.btn-filter {
  width: 10%;
  margin: 12px;
  padding: 12px;
  border: none;
  border-radius: 50rem;
  font-family: "Pangolin", cursive;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: var(--chalk-white);
  transform:scale(1);
  transition: 0.3s ease;
}

.btn-filter:hover {
  background-color: gold;
  transform: scale(1.1);
}

input[type="search"] {
  background-color: transparent;
  color: #ddd;
  border: 2px solid white;
  border-radius: 20px;
  padding-left: 24px;
}

input[type="search"]:focus {
  border-color: #ddd;
  transform: scale(1.02);
  transition: 0.3s ease;
  outline-color: none;
}

table {
  width: 90vw;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  border: 4px solid #f2f2f2;
}

th {
  color: white;
  font-weight: bold;
  font-family: "Pangolin", cursive;
}

td {
  text-align: center;
  color: white;
  font-family: "Pangolin", cursive;
  font-size: 1rem;
}

@media (max-width: 768px) {
  table {
    border: 0;
  }

  th,
  td {
    border: 2px solid #ddd;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 24px;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: 800;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-items {
    width: 90%;
  }

  .btn-filter {
    width: 85%;
  }
}
